.card {
    width: 160px;
    height: 160px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 34, 31);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

.card:hover{
    transform: scale(1.05);
}

.content{
    color: white;
}

.game-board{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
    margin: auto;
}